@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header_log img {
  width: 250px;
  height: 100px;
}

.header {
  background: rgba(0, 0, 0, 0.03);
}

.header_block {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list_of_links li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
}

.list_of_links a {
  text-decoration: none;
  list-style-type: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 14px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-transform: uppercase;
}

.list_of_links a:hover {
  color: #017eff;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  background-color: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #add8e6;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 1024px) {
  .slide {
    background-attachment: scroll;
    background-position: 0 0 !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .padding_slide1 {
    padding: 150px 0 30px;
  }
  .effects_1 {
    top: -73px;
  }
  #slide1 h1 {
    font-size: 60px;
  }
  #slide1 h2 {
    padding-bottom: 40px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  #logo {
    text-align: center;
  }
  .padding_slide1 {
    padding: 155px 0 30px;
  }
  .effects_1 {
    display: none;
  }
  #slide1 h1 {
    font-size: 36px;
    line-height: 38px;
  }
  #slide1 h2 {
    padding: 40px 10px;
    margin: 0 0 10px 0;
    font-size: 16px;
    line-height: 20px;
  }
}

.slide {
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
}

.padding_slide1 {
  padding: 100px 0 260px 0;
}

#slide1 {
  background-color: #ffffff;
  background-image: url(../img/back.jpg);
  background-size: cover !important;
  text-align: center;
  background-position: 0 0 !important;
}

#slide1 h1 {
  position: relative;
  z-index: 100;
  margin: 0;
  padding: 33px 0;
  border-top: 1px solid #3e3e3e;
  border-bottom: 1px solid #3e3e3e;
  text-transform: uppercase;
  font-family: Roboto Condensed;
  font-size: 88px;
  line-height: 86px;
  color: #000;
  font-weight: 500;
}

#slide1 h2 {
  text-transform: uppercase;
  font-family: Roboto Condensed;
  font-size: 23px;
  color: #000;
  line-height: 25px;
  padding: 29px 40px 54px;
  font-weight: 300;
}

.effects {
  position: relative;
}

.effects_1 {
  background: url(../img/effect_1.png) no-repeat left top;
  position: absolute;
  top: -169px;
  left: -175px;
  width: 461px;
  height: 196px;
  z-index: 99;
}

.effect_2 {
  background: url(../img/effect_2.png) repeat left top;
}

.btn_first_reg {
  width: 193px;
  font-size: 20px;
  padding: 15px;
  color: #fff;
  border: none;
  text-decoration: none;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#003b5c), to(#00598a));
  background: linear-gradient(180deg, #003b5c 0%, #00598a 100%);
  margin-bottom: 24px;
  border-radius: 5%;
}

.btn_first_reg a {
  text-decoration: none;
  color: #fff;
  font-family: Roboto;
}

.btn_first_reg:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #00598a), to(#00598a));
  background: linear-gradient(#00598a 100%, #00598a 100%);
}

.footer {
  background: rgba(0, 0, 0, 0.03);
}

.footer_block {
  padding-top: 20px;
  line-height: 55px;
  display: -ms-grid;
  display: grid;
  font-family: 'Roboto';
  -ms-grid-columns: 0.5fr 1fr 1fr;
      grid-template-columns: 0.5fr 1fr 1fr;
  grid-column-gap: 35px;
  color: #727272;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  color: #aca9a9;
}

.service {
  background: #FDFCFB;
}

.contact_btn {
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff !important;
  background: #017eff;
  padding: 16px 35px 14px;
  height: auto;
  line-height: initial;
  letter-spacing: normal;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-shadow: none;
  box-shadow: none;
  vertical-align: baseline;
}

.active a {
  color: #017eff;
}

.service {
  background: url(../img/back1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  margin-bottom: 50px;
}

.service .block_of_service {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 70px;
}

.service .block_of_service .header_block_service {
  margin-bottom: 15px;
}

.service .block_of_service .header_block_service .first_text {
  font-weight: 900;
  line-height: 110%;
  font-size: 42px;
  color: #fff;
}

.service .block_of_service .header_block_service .second_text {
  color: #fff;
}

.service .block_of_service .block_service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  background: rgba(255, 255, 255, 0.12);
}

.service .block_of_service .block_service .card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.service .block_of_service .block_service .card .section_list {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.service .block_of_service .block_service .card .header_text {
  font-weight: 600;
  line-height: 130%;
  margin: 0 0 24px;
  padding: 0;
  color: #ffffff;
  font-size: 21px;
}

.service .block_of_service .block_service .card li {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin: 0 auto 5px auto;
}

.service .block_of_service .block_service .card li a {
  display: block;
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  line-height: 120%;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 59, 92, 0.5);
  text-decoration: none;
  padding: 14px 14px 20px;
}

.service .block_of_service .block_service .card li:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #00598a), to(#00598a));
  background: linear-gradient(#00598a 100%, #00598a 100%);
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

@media (max-width: 661px) {
  .service .block_of_service .block_service {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#slide1 h1 {
  font-size: 78px;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: 'Times New Roman', Times, serif;
}

.list_links p {
  font-weight: bold;
  font-size: 22px;
  font-family: 'Roboto';
}

.list_contact p {
  font-weight: bold;
  font-size: 22px;
  font-family: 'Roboto';
}

.list_links a {
  text-decoration: none;
  color: #aca9a9;
  font-family: 'Roboto';
}

.title_info {
  font-size: 40px;
  text-align: center;
  padding: 30px 0 30px 0;
}

.title_info p {
  font-family: Roboto;
}

.service_block {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 45px;
}

.text1 {
  font-size: 28px;
  font-weight: bold;
  font-family: Roboto;
  color: rgba(0, 0, 0, 0.87);
}

.text2 {
  font-size: 14px;
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
}

.spoiler-title {
  cursor: pointer;
}

.spoiler-titles {
  cursor: pointer;
}

.spoiler-body {
  margin-top: 30px;
}

.txt1 {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
  font-family: Roboto;
  margin-bottom: 45px;
}

.txt2 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 20px;
  font-family: Roboto;
}

.add_block, .add_block1, .add_block2, .add_block3, .add_block4, .add_block5, .add_block6, .add_block7, .add_block8, .add_block9, .add_block10, .add_block11, .add_block12, .add_block13, .add_block14, .add_block15, .add_block16, .add_block17, .add_block18, .add_block19, .add_block20, .add_block21 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.05fr 0.30fr 0.2fr 0.55fr;
      grid-template-columns: 1.05fr 0.30fr 0.2fr 0.55fr;
  grid-column-gap: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.txt3 {
  font-size: 14px;
  margin-top: 20px;
  font-family: Roboto;
}

.add_block i {
  border-radius: 10px;
  border: none;
  padding: 10px 10px 10px 10px;
  color: #fff;
  border-radius: 10px;
  font-weight: 200;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 10%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#003b5c), to(#00598a));
  background: linear-gradient(180deg, #003b5c 0%, #00598a 100%);
  border-bottom: 0px solid #eee;
  cursor: pointer;
  text-align: center;
  font-size: 17px;
}

.add_block1 i {
  color: #a8ad00;
  font-size: 17px;
}

.add_block1 i, .add_block2 i, .add_block3 i, .add_block4 i, .add_block5 i, .add_block6 i, .add_block7 i, .add_block8 i, .add_block9 i, .add_block10 i, .add_block11 i, .add_block12 i, .add_block13 i, .add_block14 i, .add_block15 i, .add_block16 i, .add_block17 i, .add_block18 i, .add_block19 i, .add_block20 i, .add_block21 i {
  border-radius: 10px;
  border: none;
  padding: 10px 10px 10px 10px;
  color: #fff;
  border-radius: 10px;
  font-weight: 200;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 10%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#003b5c), to(#00598a));
  background: linear-gradient(180deg, #003b5c 0%, #00598a 100%);
  border-bottom: 0px solid #eee;
  cursor: pointer;
  text-align: center;
  font-size: 17px;
}

.txt4, .txt5, .txt6, .txt7, .txt8, .txt9, .txt10, .txt11, .txt12, .txt13, .txt14, .txt15, .txt16, .txt17, .txt18, .txt19, .txt20, .txt21, .txt22, .txt23, .txt24, .txt25, .txt26, .txt27, .txt28, .txt29, .txt30, .txt31, .txt32, .txt33, .txt34, .txt35, .txt36, .txt36, .txt37, .txt37, .txt38, .txt39, .txt40, .txt41, .txt42, .txt43, .txt44, .txt45, .txt46 {
  font-size: 14px;
  font-family: Roboto;
}

.btn_inside {
  border-radius: 10px;
  border: none;
  padding: 10px 10px 14px 10px;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 200;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin: 5px;
  font-family: Roboto;
  border-radius: 5%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#003b5c), to(#00598a));
  background: linear-gradient(180deg, #003b5c 0%, #00598a 100%);
  border-bottom: 0px solid #eee;
  cursor: pointer;
  text-align: center;
}

.btn_inside:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #00598a), to(#00598a));
  background: linear-gradient(#00598a 100%, #00598a 100%);
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.button_card {
  padding: 15px;
  border-radius: 5%;
  border-radius: 5%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#003b5c), to(#00598a));
  background: linear-gradient(180deg, #003b5c 0%, #00598a 100%);
  color: #ffffff;
  border: none;
}

.button_card a {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
}

.button_card:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #00598a), to(#00598a));
  background: linear-gradient(#00598a 100%, #00598a 100%);
  -webkit-box-shadow: 0 3px 5px #3e3e3e;
          box-shadow: 0 3px 5px #3e3e3e;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  color: #333;
  background: #fff;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 1;
  font-size: 14px;
  bottom: 145%;
  left: 50%;
  margin-left: -60px;
  font-family: Roboto;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.form_of_pay {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  border: 1px solid #3e3e3e;
  margin: 0 auto;
}

.title_form_of_pay {
  padding: 20px;
  color: #000;
  font-size: 40px;
}

.title_form_of_pay p {
  font-family: Roboto;
}

.count_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: Roboto;
}

.count_col span {
  font-size: 14px;
  font-family: Roboto;
}

.total_box {
  padding: 10px;
}

.hb1, .hb2 {
  color: #000;
  font-weight: bold;
}

.header_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -5px;
  padding: 20px;
  font-size: 20px;
}

.fa-info-circle:before {
  content: "";
}

.txtbr {
  display: none;
}

.hb2 {
  font-family: Roboto;
}

.hb3 {
  margin-right: 10px;
  font-family: Roboto;
  font-size: 14px;
}

.hb1 {
  text-align: left;
  font-family: Roboto;
}

.hb4 {
  padding-left: 240px;
  font-family: Roboto;
}

.hb5 {
  padding-left: 265px;
  font-family: Roboto;
}

.hb6 {
  padding-left: 250px;
  font-size: 20px;
  font-weight: bold;
  font-family: Roboto;
}

.txtbx {
  font-size: 20px;
  font-weight: bold;
}

.service_box {
  padding: 20px;
  font-size: 14px;
}

.orient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.orient_header {
  font-family: Roboto;
}

.service_subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  font-size: 14px;
  font-family: Roboto;
}

.service_vat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  font-size: 14px;
  font-family: Roboto;
}

.service_total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  font-size: 14px;
  font-family: Roboto;
}

.hr1 {
  border: 0.1px solid #000;
}

.dividing_block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 0.8fr;
      grid-template-columns: 1.5fr 0.8fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-column-gap: 15px;
}

.btn2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.coupon {
  padding: 20px;
}

.coupon p {
  font-size: 20px;
  font-weight: bold;
}

.coupon input {
  width: 94%;
  padding: 10px;
}

.spoiler-bodys {
  display: none;
  margin-top: 30px;
}

.input_block, .input_total_block, .input_vat_block {
  border: none;
  background: none;
  text-align: left;
  width: 35px;
  font-size: 14px;
  color: #000;
  font-family: Roboto;
}

.modal {
  display: none;
  /* Скрыто по умолчанию */
  position: fixed;
  /* Оставаться на месте */
  z-index: 1;
  /* Сидеть на вершине */
  padding-top: 100px;
  /* Расположение коробки */
  left: 0;
  top: 0;
  width: 100%;
  /* Полная ширина */
  height: 100%;
  /* Полная высота */
  overflow: auto;
  /* Включите прокрутку, если это необходимо */
  background-color: black;
  /* Цвет запасной вариант  */
  background-color: rgba(0, 0, 0, 0.4);
  /*Черный с непрозрачностью */
}

/* Модальное содержание */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 50px;
  border: 1px solid #888;
  width: 34.5%;
}

/* Кнопка закрытия */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal_form .input_form_first_name, .modal_form .input_form_surname, .modal_form .input_form_tel, .modal_form .input_form_repeat_email, .modal_form .input_form_email {
  width: 500px;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #aca9a9;
}

.modal_form hr {
  width: 280px;
}

.modal_form .button_form {
  width: 150px;
  padding: 10px;
  border-radius: 5%;
  margin-top: 20px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#003b5c), to(#00598a));
  background: linear-gradient(180deg, #003b5c 0%, #00598a 100%);
  color: #ffffff;
  border: none;
}

.modal_form a {
  text-decoration: none;
  color: #ffffff;
}

.modal_form .button_form:hover {
  background: #017eff;
  -webkit-box-shadow: 0 3px 5px #3e3e3e;
          box-shadow: 0 3px 5px #3e3e3e;
}

.second_block {
  margin-bottom: 40px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 1024px) {
  .modal_form .input_form_first_name, .modal_form .input_form_surname, .modal_form .input_form_tel, .modal_form .input_form_repeat_email, .modal_form .input_form_email {
    width: 100%;
  }
}

@media (max-width: 840px) {
  .dividing_block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 540px) {
  .title_form_of_pay {
    font-size: 30px;
  }
  .tooltip .tooltiptext {
    width: 100px;
  }
}

.info {
  font-family: Roboto;
  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.list_links p {
  font-weight: 600;
  font-size: 22px;
  color: #363738;
}

.list_contact p {
  font-weight: 600;
  font-size: 22px;
  color: #363738;
}

.list_contact li {
  color: #727272;
}

.list_links a {
  text-decoration: none;
  color: #727272;
}

.list_links a:hover {
  color: #017eff;
}

.list_contact i {
  color: #017eff;
}

.title_block {
  font-size: 40px;
}

.title_block p {
  font-family: Roboto;
  color: #363738;
  font-weight: bold;
}

.contact {
  margin-top: 10px;
}

.contact_block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 45px;
  margin-bottom: 20px;
}

.form {
  display: block;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #aca9a9;
  font-family: Roboto;
}

.text_area {
  border: 1px solid #aca9a9;
  font-family: Roboto;
  padding: 10px;
  margin-top: 20px;
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
}

.btn {
  padding: 20px;
  width: 150px;
  margin-top: 20px;
  border-radius: 25px;
  border: none;
  background: #3e3e3e;
  color: #aca9a9;
  font-size: 18px;
}

.btn:hover {
  color: #3e3e3e;
  background: #aca9a9;
  cursor: pointer;
}

.right_block {
  margin-top: 15px;
}

.text_right1 {
  font-size: 24px;
  color: #363738;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: bold;
}

.text_right2 {
  margin-bottom: 30px;
  font-family: Roboto;
}

.contact_right_block {
  line-height: 35px;
}

.contact_right_block li {
  font-family: Roboto;
}

.contact_right_block li span {
  color: #363738;
  font-weight: bold;
  font-family: Roboto;
}

.contact_right_block i {
  color: #017eff;
}

.btn_contact {
  width: 193px;
  font-size: 20px;
  padding: 15px;
  color: #fff;
  border: none;
  text-decoration: none;
  margin-bottom: 24px;
  border-radius: 5%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#003b5c), to(#00598a));
  background: linear-gradient(180deg, #003b5c 0%, #00598a 100%);
}

.btn_contact a {
  color: #ffffff;
  text-decoration: none;
  font-family: Roboto;
}

.btn_contact:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #00598a), to(#00598a));
  background: linear-gradient(#00598a 100%, #00598a 100%);
  cursor: pointer;
}

.iframe2 {
  display: none;
}

@media (max-width: 1081px) {
  .footer_block {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }
  .iframe1 {
    display: none;
  }
  .iframe2 {
    display: block;
  }
}

@media (max-width: 661px) {
  .contact_block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-right: 21px;
  }
}

@media (max-width: 599px) {
  .footer_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer_link_block {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
}

.register_director {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
}

.register_director .register_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
  margin-top: 20px;
  border: 1px solid #000;
  padding: 20px;
}

.register_director .register_form p {
  margin-bottom: 12px;
  font-size: 20px;
  border-bottom: 1px solid #000;
}

.register_director .register_form label {
  font-size: 18px;
  margin-bottom: 12px;
}

.register_director .register_form input {
  margin-bottom: 12px;
  height: 30px;
  width: 400px;
  font-size: 16px;
}

.register_director .register_form .choosee_shareholder {
  width: 400px;
}

.register_director .register_form .choosee_shareholder legend {
  margin-bottom: 10px;
  font-size: 22px;
}

.register_director .register_form .choosee_shareholder input {
  width: 100px;
  margin-bottom: 0px;
  height: auto;
}

.register_director .register_form .choosee_shareholder label {
  width: 100px;
  margin-bottom: 0px;
  height: auto;
}

.register_director .form_shareholder_individ {
  display: none;
}

.register_director .form_shareholder_individ .block_individ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register_director .form_shareholder_individ label {
  font-size: 18px;
  margin-bottom: 12px;
}

.register_director .form_shareholder_individ input {
  margin-bottom: 12px;
  height: 30px;
  width: 400px;
  font-size: 16px;
}

.register_director .form_shareholder_individ1 {
  display: none;
}

.register_director .form_shareholder_individ1 .block_individ1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register_director .form_shareholder_individ1 label {
  font-size: 18px;
  margin-bottom: 12px;
}

.register_director .form_shareholder_individ1 input {
  margin-bottom: 12px;
  height: 30px;
  width: 400px;
  font-size: 16px;
}

.register_director .form_shareholder_company {
  display: none;
}

.register_director .form_shareholder_company .block_company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register_director .form_shareholder_company label {
  font-size: 18px;
  margin-bottom: 12px;
}

.register_director .form_shareholder_company input {
  margin-bottom: 12px;
  height: 30px;
  width: 400px;
  font-size: 16px;
}

.register_shareholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
}

.register_shareholder .form_shareholder_individ {
  display: none;
}

.register_shareholder .form_shareholder_individ .block_individ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register_shareholder .form_shareholder_individ label {
  font-size: 18px;
  margin-bottom: 12px;
}

.register_shareholder .form_shareholder_individ input {
  margin-bottom: 12px;
  height: 30px;
  width: 400px;
  font-size: 16px;
}

.register_shareholder .form_shareholder_company {
  display: none;
}

.register_shareholder .form_shareholder_company .block_company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register_shareholder .form_shareholder_company label {
  font-size: 18px;
  margin-bottom: 12px;
}

.register_shareholder .form_shareholder_company input {
  margin-bottom: 12px;
  height: 30px;
  width: 400px;
  font-size: 16px;
}

.register_shareholder .form_register_shareholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 406px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
  margin-top: 20px;
  border: 1px solid #000;
  padding: 20px;
}

.register_shareholder .form_register_shareholder legend {
  border-bottom: 1px solid #000;
  font-size: 20px;
  margin-bottom: 24px;
}

.register_shareholder .form_register_shareholder .radio_block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 70px;
      grid-template-columns: 70px 70px;
}

.register_shareholder .form_register_shareholder .radio_block .radio_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register_shareholder .form_register_shareholder .radio_block .radio_label label {
  margin-bottom: 12px;
  font-size: 18px;
}

.register_shareholder .form_register_shareholder .radio_block .radio_radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  margin-top: 2px;
}

.register_shareholder .form_register_shareholder .radio_block .radio_radio input {
  margin-bottom: 26px;
}

.register_company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 auto;
  width: 910px;
}

.register_company .register_company_block .header_title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 36px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
}

.register_company .register_company_block p {
  font-size: 18px;
  margin-bottom: 24px;
  font-weight: 400;
}

.register_company .register_company_block .list_block1 {
  margin-bottom: 24px;
  margin-top: 24px;
}

.register_company .register_company_block .list_block1 li {
  margin-bottom: 12px;
  list-style-type: disc;
  margin-left: 15px;
  font-size: 18px;
}

.register_company .register_company_block .block_info {
  border-left: 5px solid #000;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.register_company .register_company_block .block_info .text_info {
  font-size: 18px;
  padding-top: 15px;
  padding-left: 12px;
}

.register_company .register_company_block .list_block2 {
  margin-bottom: 24px;
}

.register_company .register_company_block .list_block2 li {
  margin-left: 15px;
  font-size: 18px;
  margin-bottom: 12px;
  list-style-type: disc;
}

.register_company .register_company_block .under_button {
  margin-top: 30px;
}

.register_company .register_company_block .button_register {
  width: 193px;
  font-size: 20px;
  padding: 15px;
  color: #fff;
  border: none;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#A23228), to(#942A21));
  background: linear-gradient(180deg, #A23228 0%, #942A21 100%);
  -webkit-box-shadow: 3px 3px 0px #761D15;
          box-shadow: 3px 3px 0px #761D15;
  margin-bottom: 24px;
}

.register_company .register_company_block .button_register:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  background: #761D15;
}

.register_company .register_company_block .header_title_second {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 24px;
  margin-top: 24px;
}

.register_company .register_company_block .list_block3 {
  margin-bottom: 24px;
}

.register_company .register_company_block .list_block3 li {
  margin-left: 15px;
  font-size: 18px;
  margin-bottom: 12px;
  list-style-type: disc;
  border-bottom: 1px solid #761D15;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.register_company .register_company_block .header_title_third {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 24px;
  margin-top: 24px;
}

.wrap_register_block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.register_company_quest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 910px;
}

.register_company_quest .wrap_register_company .register_button_question {
  width: 183px;
  padding: 15px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#A23228), to(#942A21));
  background: linear-gradient(180deg, #A23228 0%, #942A21 100%);
  -webkit-box-shadow: 3px 3px 0px #761D15;
          box-shadow: 3px 3px 0px #761D15;
}

.register_company_quest .wrap_register_company .register_button_question a {
  color: #fff;
  font-size: 24px;
  margin: 0 auto;
  text-decoration: none;
}

.register_company_quest .wrap_register_company .register_button_question:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #761D15;
  cursor: pointer;
}

.register_company_quest .wrap_register_company .navigate_header {
  margin-top: 60px;
  margin-bottom: 40px;
}

.register_company_quest .wrap_register_company .navigate_header a {
  text-decoration: none;
  list-style-type: armenian;
  color: #000;
  font-size: 24px;
  border-bottom: 1px solid #000;
}

.register_company_quest .wrap_register_company .question_block_registr .title_text {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 36px;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .radio_question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .radio_question .radio_btn_quest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .radio_question .custom-radio {
  z-index: -1;
  opacity: 0;
  display: none;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .radio_question .custom-radio + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .radio_question .custom-radio + label::before {
  content: '';
  margin-bottom: 36px;
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80% 80%;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .radio_question .label {
  font-size: 24px;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .radio_question .custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .radio_question .custom-radio:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .radio_question .custom-radio:focus + label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .radio_question .custom-radio:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .radio_question .custom-radio:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .radio_question .custom-radio:disabled + label::before {
  background-color: #e9ecef;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .text_radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .text_radio p {
  margin-bottom: 52px;
  font-size: 22px;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .text_radio .custom-radio {
  z-index: -1;
  opacity: 0;
  display: none;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .text_radio .custom-radio + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .text_radio .label {
  font-size: 24px;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .text_radio .custom-radio + label::before {
  content: '';
  margin-bottom: 36px;
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .text_radio .custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .text_radio .custom-radio:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .text_radio .custom-radio:focus + label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .text_radio .custom-radio:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .text_radio .custom-radio:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.register_company_quest .wrap_register_company .question_block_registr .change_quest_reg .text_radio .custom-radio:disabled + label::before {
  background-color: #e9ecef;
}

.header__block2 {
  display: none;
}

.header__block {
  padding: 15px 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__block .header__list .list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__block .header__list .list__container li {
  list-style-type: none;
  margin-right: 20px;
}

.header__block .header__list .list__container a {
  text-decoration: none;
}

.header__block .header__burger {
  display: none;
  width: 36px;
  height: 24px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
  position: relative;
}

.header__block .header__burger::after, .header__block .header__burger::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: #000;
  left: 0;
}

.header__block .header__burger::before {
  top: 0;
}

.header__block .header__burger::after {
  bottom: 0;
}

.header__block .header__burger span {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #000;
  left: 0;
  top: 10px;
}

.header__block .header__burger.active::before {
  opacity: 0;
  overflow: hidden;
}

.header__block .header__burger.active::after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px;
}

.header__block .header__burger.active span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0;
}

.header__block .header__list.active {
  position: fixed;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url(../img/photo2.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../img/photo2.jpg);
}

@media (max-width: 768px) {
  .active a {
    color: #fff;
  }
  .header__block2 {
    display: block;
  }
  .header__block2 .list_of_links2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    padding: 30px 0 30px 0;
  }
  .header__block2 .list_of_links2 li {
    list-style-type: none;
  }
  .header__block2 .list_of_links2 a {
    text-decoration: none;
    list-style-type: none;
    color: rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    font-size: 14px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-transform: uppercase;
  }
  .header__block {
    padding: 0;
  }
  .header__block .header__burger {
    display: block;
    margin: 15px 0 15px 0;
  }
  .header__block .header__list {
    display: none;
  }
  .header__block .header__list .list_of_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__block .header__list .list_of_links li {
    padding: 20px;
  }
  .header__block .header__list.active {
    display: block;
    z-index: 1;
  }
}
