*{
    padding: 0;
    margin: 0;
    list-style-type: none;

}
  .list_links p{
   font-weight: 600;
    font-size: 22px;
    color: #363738;
  }
  .list_contact p{
    font-weight: 600;
    font-size: 22px;
    color: #363738;
  }
  .list_contact li{
    color: #727272;
  }
  .list_links a{
    text-decoration: none;
    color: #727272;
  }
  .list_links a:hover{
    color: #017eff;
  }
  .list_contact i{
    color: #017eff;
  }
  .title_block{
      font-size: 40px;
      & p{
        font-family: Roboto;
        color: #363738;
      font-weight: bold;
      }
  }
  .contact{
      margin-top: 10px;
      
  }
  .contact_block{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 45px;
     margin-bottom: 20px;
  }
  .form{
      display:block;
  }
  .form input{
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      border: 1px solid #aca9a9;
     
      font-family: Roboto;
      

  }
  
  .text_area{
    border: 1px solid #aca9a9;
    
    font-family: Roboto;
    padding: 10px;
    
      margin-top: 20px;
      height: 100px;
      width: 100%;
      margin-bottom: 20px;
  }
  .btn{
      padding: 20px;
      width: 150px;
      margin-top: 20px;
      border-radius: 25px;
      border: none;
      background: #3e3e3e;
      color: #aca9a9;
      font-size: 18px;
  }
  .btn:hover{
      color: #3e3e3e;
      background: #aca9a9;
      cursor: pointer;
  }
  .right_block{
      margin-top: 15px;
  }
  .text_right1{
      font-size: 24px;
      color: #363738;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-family: Roboto;
      font-weight: bold;
  }
  .text_right2{
      margin-bottom: 30px;
      font-family: Roboto;
      
  }
  .contact_right_block{
      line-height: 35px;
      & li{
        font-family: Roboto;
        & span{
          color: #363738;
          font-weight: bold;
          font-family: Roboto;
        }
      }
  }
  .contact_right_block i{
      color: #017eff;
  }
  .btn_contact{
    width: 193px;
    font-size: 20px;
    padding: 15px;
    color: #fff;
    border: none;
    text-decoration: none;
   
    margin-bottom: 24px;
    border-radius: 5%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background: linear-gradient(180deg,#003b5c 0%,#00598a 100%);
  
    & a{
        color: #ffffff;
        text-decoration: none;
        font-family: Roboto;
    }
  }
  .btn_contact:hover{
    background: linear-gradient(#00598a 100%,#00598a 100%);
      cursor: pointer;
      
  }
  .iframe2{
    display: none;
  }
  @media (max-width:1081px){
    .footer_block{
      grid-template-columns: 1fr 1fr;
      margin-bottom: 20px;
    }
    .iframe1{
      display: none;
    }
    .iframe2{
      display: block;
    }
  }
@media (max-width:991px){
  .contact_block{
    
  }
}
@media (max-width:661px){
  .contact_block{
      display: grid;
      grid-template-columns: 1fr;
      padding-right: 21px;
  }
 
}

@media (max-width:599px){
  .footer_block{
    display: flex;
  }
  .footer_link_block{
    display: none;
  }
}