
// @media (max-width:768px){
//     .header_list{
//         display: none;
//     }
//      .header_burger{
//         display: block;
//         width: 36px;
//         height: 24px;
//         z-index: 2;
//         position: relative;
//         &::after,
//         &::before{
//             content: '';
//             position: absolute;
//             width: 100%;
//             height: 4px;
//             background: #000;
//             left: 0;
//         }
//         &::before{
//             top: 0;
//         }
//         &::after{
//             bottom: 0;
//         }
//         & span{
//             display: block;
//             position: absolute;
//             width: 100%;
//             height: 4px;
//             background: #000;
//             left: 0;
//             top:10px;
//         }
//     }
//     .header_burger.active{
//         &::before{
//             opacity: 0;
//             overflow: hidden;
//         }
//         &::after{
//             transition: all 0.3s;
//             transform: rotate(45deg);
//             top:10px;
//         }
//         & span{
//             transition: all 0.3s;
//             transform: rotate(-45deg);
//             bottom: 0;
//             z-index: 9999;
//         }
//     }
// }
// .header_list.active{
//     position: fixed;
//     display: block;
//     z-index: 1;
//     background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6) ), url(../img/photo2.jpg);
//     background-position: center;
//     background-size: cover;
//     & .header_list{
//         display: block;
//         z-index: 1;
        
//         & .list_of_links{
//             display: block;
              
//         }
//     }
    
// }
.header__block{
    padding: 15px 0 15px 0;
    display: flex;
    justify-content: space-between;
   
    & .header__list {
       
        & .list__container{
            display: flex;
          
            li{
                list-style-type: none; 
                margin-right: 20px;  
            }
            a {
                text-decoration: none;
            }
        }
    }
    & .header__burger{
        display: none;
        width: 36px;
        height: 24px;
        position: sticky;
        top:0px;
        z-index: 2;
        position: relative;
        &::after,
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            background: #000;
            left: 0;
        }
        &::before{
            top: 0;
        }
        &::after{
            bottom: 0;
        }
        & span{
            display: block;
            position: absolute;
            width: 100%;
            height: 4px;
            background: #000;
            left: 0;
            top:10px;
            
        }
    }
    .header__burger.active{
        &::before{
            opacity: 0;
            overflow: hidden;
            
        }
        &::after{
            transition: all 0.3s;
            transform: rotate(45deg);
            top:10px;
        }
        & span{
            transition: all 0.3s;
            transform: rotate(-45deg);
            bottom: 0;
            
        }
    }
    .header__list.active{
        position: fixed;
        width: 100%;
        height: 100%;
        background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6) ), url(../img/photo2.jpg);
        
    }

}
@media (max-width:768px){
.active a{
    color:#fff;
}
  .header__block{
      padding: 0;
        & .header__burger{
        display: block;
        margin: 15px 0 15px 0;
    }
    & .header__list{
        display: none;
        & .list_of_links{
            display: flex;
        flex-direction: column;
        // line-height: 40px;
        & li{
            padding: 20px;
        }
        }
    }
    & .header__list.active{
        display: block;
        z-index: 1;
    }
 
  }
}
