*{
    padding: 0;
    margin: 0;
    list-style-type: none;

}
.header{
  background: #3e3e3e;
}
.container{
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header_log img{
    width: 250px;
    height: 100px;
}
.header_block{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list_of_links li{
    display: inline-flex;
    padding-left: 70px;
    justify-content: space-between;
    font-size: 20px;

}
.list_of_links a{
    text-decoration: none;
    list-style-type: none;
    color: #aca9a9;
}
.list_of_links a:hover{
    color: rgb(179, 128, 34);
}

.dropdown {
    overflow: hidden;
}
.dropdown .dropbtn {
    border: none;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3e3e3e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}   
.dropdown-content a {
    float: none;
    color: #aca9a9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #3e3e3e;
    color: rgb(179, 128, 34);
}

.dropdown:hover .dropdown-content {
    display: block;
}
@media only screen and (max-width: 1024px) {
	.slide{background-attachment: scroll;background-position:0 0 !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

	.padding_slide1 {padding:150px 0 30px;}
	.effects_1 {top:-73px;}
	#slide1 h1 {font-size:60px;}
	#slide1 h2 {padding-bottom:40px;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#logo {text-align:center;}
	
	.padding_slide1 {padding:155px 0 30px;}
	.effects_1 {display:none;}
	#slide1 h1 {font-size:36px;line-height:38px;}
	#slide1 h2 {padding:40px 10px;margin:0 0 10px 0;font-size:16px;line-height:20px;}
}
.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:0;
}
.padding_slide1 {padding:170px 0 80px 0;
}
#slide1{
	background-color:#ffffff;
	background-image:url(../img/background.jpg);
	background-size: cover !important;
	text-align:center;
	background-position:0 0 !important;
}
#slide1 h1 {
	position:relative;
	z-index:100;
	margin:0;
	padding:33px 0;
	border-top:1px solid #3e3e3e;
	border-bottom:1px solid #3e3e3e;
	text-transform:uppercase;
	font-family:'PT Sans';
	font-size: 88px;
	line-height: 86px;
	color:#3e3e3e;
	font-weight: 700;
}
#slide1 h2 {
	text-transform:uppercase;
	font-family:'PT Sans';
	font-size: 23px;
	color: #3e3e3e;
	line-height: 25px;
	padding:29px 40px 54px;
	font-weight: 400;
}
.effects {
	position:relative;
}
.effects_1 {
	background:url(../img/effect_1.png) no-repeat left top;
	position:absolute;
	top:-169px;
	left:-175px;
	width:474px;
	height:196px;
	z-index:99;
}
.effect_2 {
	background:url(../img/effect_2.png) repeat left top;
}

.btn_first_reg{
  text-decoration: none;
  background: #3e3e3e;
  border:3px solid #3e3e3e ;
  color: #3e3e3e;
  padding: 20px;
  display: block;
  border-radius: 50px;
  margin:0 auto;
  font-size: 30px;


}
.btn_first_reg a{
  text-decoration: none;
  color: #aca9a9;
}
.btn_first_reg:hover{
  background: none;
  border:5px solid #3e3e3e ;
}
.block_of_service{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;

}
.text_card1{
  font-size: 46px;
  text-transform: uppercase;
  font-weight: bold;
  
}
.header_hr{
  width: 140px;
  margin: 20px 0 20px 0;
}
.text_card2{
  font-size: 24px;
  width: 100%;
 
}
.service_card{
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}
.card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  line-height: 22px;
}
.circle{
  border: 5px solid rgb(179, 128, 34);
  border-radius: 50%;
  box-sizing: border-box;
  padding: 35px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #3e3e3e;
  transition: 2s;
}
.card i{
  font-size: 40px;
  color: rgb(179, 128, 34);
  transition: 1s;
}
.card i:hover{
  transform: perspective(300px) rotateZ(360deg);
}
.text1_in_card{
  font-size: 22px;

}
.text1_in_card:hover{
  color: rgb(179, 128, 34);
}
.text2_in_card{
  font-size: 14px;
  font-family: none;
}
.card hr{
  margin: 20px 0 20px 0;
  width: 90%;
}

.list_links p{
 font-weight: bold;
  font-size: 22px;
}
.list_contact p{
  font-weight: bold;
  font-size: 22px;
}
.list_links a{
  text-decoration: none;
  color: #aca9a9;
}
.list_links a:hover{
  color: rgb(179, 128, 34);
}
.list_contact i{
  color: rgb(179, 128, 34);
}
.footer{
  background: #3e3e3e;
}
.footer_block{padding-top: 20px;
  line-height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 18px;  color: #aca9a9;

} 
.footer_contact_block{
  margin-left: 40px;
}