*{
    padding: 0;
    margin: 0;
    list-style-type: none;

}

.container{
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header_log img{
    width: 250px;
    height: 100px;
}
.header{
  background: rgba(0, 0, 0, 0.03);
}
.header_block{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;    
}
.list_of_links li{
    display: inline-flex;
    padding-left: 70px;
    justify-content: space-between;
    font-size: 20px;

}
.list_of_links a{
    text-decoration: none;
    list-style-type: none;
    color: rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    font-size: 14px;
    transition: all .3s ease;
    text-transform: uppercase;
}
.list_of_links a:hover{
color: #017eff;
}

.dropdown {
    overflow: hidden;
}
.dropdown .dropbtn {
    border: none;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #add8e6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}   
.dropdown-content a {
    float: none;
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  
}

.dropdown:hover .dropdown-content {
    display: block;
}
@media only screen and (max-width: 1024px) {
	.slide{background-attachment: scroll;background-position:0 0 !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

	.padding_slide1 {padding:150px 0 30px;}
	.effects_1 {top:-73px;}
	#slide1 h1 {font-size:60px;}
	#slide1 h2 {padding-bottom:40px;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#logo {text-align:center;}
	
	.padding_slide1 {padding:155px 0 30px;}
	.effects_1 {display:none;}
	#slide1 h1 {font-size:36px;line-height:38px;}
	#slide1 h2 {padding:40px 10px;margin:0 0 10px 0;font-size:16px;line-height:20px;}
}
.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	padding:0;

}
.padding_slide1 {padding:170px 0 190px 0;
}
#slide1{
	background-color:#ffffff;
	background-image:url(../img/background.jpg);
	background-size: cover !important;
	text-align:center;
	background-position:0 0 !important;
}
#slide1 h1 {
	position:relative;
	z-index:100;
	margin:0;
	padding:33px 0;
	border-top:1px solid #3e3e3e;
	border-bottom:1px solid #3e3e3e;
	text-transform:uppercase;
	font-family:Roboto;
	font-size: 88px;
	line-height: 86px;
	color:#000;
	font-weight: 500;
}
#slide1 h2 {
	text-transform:uppercase;
	font-family:Roboto Condensed;
	font-size: 23px;
	color: #000;
	line-height: 25px;
	padding:29px 40px 54px;
	font-weight: 300;
}
.effects {
	position:relative;
}
.effects_1 {
	background:url(../img/effect_1.png) no-repeat left top;
	position:absolute;
	top:-169px;
	left:-175px;
	width:474px;
	height:196px;
	z-index:99;
}
.effect_2 {
	background:url(../img/effect_2.png) repeat left top;
}

.btn_first_reg{
  width: 193px;
  font-size: 20px;
  padding: 15px;
  color: #fff;
  border: none;
  text-decoration: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background: linear-gradient(180deg,#003b5c 0%,#00598a 100%);
  margin-bottom: 24px;
  border-radius: 5%;


}
.btn_first_reg a{
  text-decoration: none;
  color: #fff;
  font-family: Roboto;
}
.btn_first_reg:hover{
  box-shadow: none;
  background: linear-gradient(#00598a 100%,#00598a 100%); 
}
.footer{
  background: #3e3e3e;
}
.footer_block{padding-top: 20px;
  line-height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 18px;  color: #aca9a9;

} 
.footer_contact_block{
  margin-left: 40px;
}
.service{
  background: #FDFCFB;
}

.contact_btn{
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff !important;
  background: #017eff;
  padding: 16px 35px 14px;
  height: auto;
  line-height: initial;
  letter-spacing: normal;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-shadow: none;
  box-shadow: none;
  vertical-align: baseline;
}
.active a{
  color: #017eff;
}
.service{
  background: linear-gradient(180deg,#003b5c 0%,#00598a 100%);
  
  width: 100%;
  margin-bottom: 50px;
  & .block_of_service{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
    & .header_block_service{
      margin-bottom: 15px;
      & .first_text{
        font-weight: 900;
    line-height: 110%;
    font-size: 42px;
    color: #fff;
      }
      & .second_text{
        color: #fff;
      }
    }
    & .block_service{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background: rgba(255,255,255,.12);
      & .card{
        flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
        & .section_list{
          list-style: none;
          text-align: center;
          margin: 0 auto;
          padding: 0;
        }
        & .header_text{
          font-weight: 600;
    line-height: 130%;
    margin: 0 0 24px;
    padding: 0;
    color: #ffffff;
    font-size: 21px;
        }
        & li{
          transition: all .3s ease;
          margin: 0 auto 5px auto;
          & a{
            display: block;
            color: #fff;
            font-size: 21px;
            font-weight: 400;
            line-height: 120%;
            border: none;
            border-radius: 4px;
            background-color: rgba(0,59,92,.5);
            text-decoration: none;
            padding: 14px 14px 20px;
            
          }
        }
        & li:hover{
          background: #a8ad00;
        
        }
      }
    }
  }
}